.mainwrapper {
    margin: auto;
    position: relative;
    width: 990px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 20px;
    height: auto;
    display: flex;
    position: relative;

}

.imagegallery {
    width: 450px;
    height: 1141px;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
}

.productinfo {
    width: 450px;
    margin-left: 20px;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
}

.imagegallery img {
    width: 448px;
    height: 448px;
}

.productName {
    border: 2px solid #c80f0f;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.price {
    border: 2px solid #c80f0f;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}