.productShape {
    background: #ffffff;
    width: 187px;
    height: 309px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #7A9E9F;
    display: inline-block;
    margin: 5px;
    font-size: 14px;
}

.productShape:hover {
    border-radius: 15px;
    border: 2px solid #c80f0f;
    text-decoration: none;
}

.productsTable {
    border: 1px solid #000000;
    margin-left: 155px;
    margin-top: 30px;

}

.Image img {
    width: 171px;
    height: 170px;
    overflow: hidden;
}

.producttext {
    width: 171px;
    height: 124px;
    color: #000000;
}

.productName {
    padding: 5px;
    font-weight: bold;
    width: 171px;
    height: 30px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    padding: 5px;
    font-size: 18px;
}

.filters {
    border: 1px solid #000000;
    width: 1193px;
    position: relative;
    margin-left: 155px;
    margin-top: 20px;
    text-align: center;
}

.search {
    margin-top: 40px;
    width: 1193px;
    height: 60px;
    position: relative;
    margin-left: 155px;

}

.search input {
    width: 540px;
    border: 2px solid #000000;
    border-radius: 5px;
    height: 32px;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 30px;
    position: absolute;
    top: 20px;
    left: 326.5px;
}

.search input:hover {
    border: 2px solid #c80f0f;
}

.search button {
    width: 65px;
    height: 32px;
    position: absolute;
    right: 324px;
    top: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.search button:hover {
    border: 2px solid #c80f0f;
}

.search h1 {
    width: 150px;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 20px;
    font-weight: 800;
}

.search h1 span {
    font-weight: 200;
}

.view-Container {
    display: flex;
    background-color: #6b6b6b;
}